@import '../config/color.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
}


.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: auto;

  &:nth-child(n+2){
    margin-top: 20px;
  }

  & > div {
    height: 30px;
  }
}




.item {
  
   /*$main-color: hsl(0,0%,50%);*/

  width: auto;
  height: 30px;

  box-sizing: border-box;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;

  font-size: 1.1rem;
  line-height: 1.1rem;
  cursor: pointer;

  color: hsl(0,0%,20%);
  border: 1px solid hsl(0,0%,60%);
  border-radius: 5px;

  &:hover {
    color: hsl(0,0%,0%);
    font-weight: bold;
    border: none;
  }

  &:nth-child(n+2){
    margin-top: 5px;
  }
}