@import "../../config/color.scss";


$theme: 'day';

.collection_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & > div {
    width: 200px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > button {
      font-size: 1.2rem;
    }

  }
}

.button_common {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  background-color: transparent;
}

.button_1 {
  color: $color_basic;
}

.button_2 {
  color: blue;
}