@import "../../config/_variables.scss";


$theme: 'day';

.collection_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & > div {
    width: 200px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > button {
      font-size: 1.2rem;
    }

  }
}

.button_1 {

  color: $color_main;
}

.button_2 {

  color: blue;
}