@import "../../config/color.scss";


.collection_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & > div {
    width: 200px;
    height: 50px;

    border: 1px solid #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.button_reset {
  margin: 0;
  padding: 0;
  
  border: 0;
  
	font-size: 100%;
  font: inherit;
  
  vertical-align: baseline;
  background-color: transparent;

  &:focus{
    outline: black solid 0px;
  }
}


.button_1 {
  color: $color_basic;
}

.button_2 {
  color: blue;
}