@import "../../config/color.scss";
@import "../../config/tools.scss";


.collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 10px;
}


.default {
  
  width: 200px;
  height: 70px;

  /*border: 1px solid #eee;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    margin: 0;
    padding: 0;
    border: 0;
    
    font-size: 100%;
    font: inherit;
    
    vertical-align: baseline;
    background-color: transparent;

    &:focus{
      outline: black solid 0px;
    }
  }

}


.item1 {

  $main-color: #2ea44f;

  button {

    width: 90px;
    height: 30px;

    font-size: 16px;

    border-radius: 5px;
    border: 1px solid scale-color($color: $main-color, $saturation: 5, $lightness: -50);

    color: #ffffff;
    background-color: $main-color;
    &:hover {
      background-color: scale-color($color: $main-color, $saturation: 0, $lightness: -10);
    }
  }
}
